/*universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px(100%);
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: aliceblue;
}
section {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
p{
    font-size: 1.6rem;
    line-height: 2.6rem;
}
h2{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
/*helpers*/
.bg-1{
    position: relative;
    top: 0;
}
.bg-1 .bg-img{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.align-center-vertical{
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
}
.scroll-snap-container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
.cards-container{
    display: flex;
    justify-content: space-evenly;
}
.card{
    flex: 1;
    margin: .5rem;
    min-height: 100%;
}
.card-img-container{
    display: flex;
    height: 75%;
    align-items: center;
}
.card-img-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.card .caption{
    padding: 3px;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}
/*navbar*/
nav{
    color: aliceblue;
    background-color: black;
    display: flex;
    padding: 4px 8%; 
    max-height: 5rem;
    font-weight: 600;
}
nav .logo{
    flex: 1;
    max-width: 30%;
}
.nav-links{
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
}
.nav-links a{
    margin: 0 .7rem;
    font-size: 1.2rem;
}
nav .logo img{
    height: 100%;
    object-fit: contain;
}
/*hero section*/
.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.hero-questions{
    font-size: 2rem;
    padding-top: 2rem;
}
.dark-gray{
    color:#564f4f ;
}
.tagline{
    font-size: 3rem;
    color: #a6a6a6;
    font-weight: 600;
}
.green{
    color: #60bf19;
}

/*product section*/
.product-intro{
    width: 100%;
    display: flex;
    top: 50%;
}
.product-logo{
    flex: 5;
}
.product-intro img{
    max-width: 100%;
    object-fit: contain;
}
.product-about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2.5rem;
    margin-left: 2rem;
    flex: 7;
}
.product-about button{
    cursor: pointer;
    position: relative;
    width: 17rem;
    right: 0;
    margin-left: 30%;
    border: none;
    background: none;
}
.product-about button p{
    position: absolute;
    color: white;
    font-weight: bold;
    left: .8rem;
    top: 45%;
}
/*ABOUT SECTION*/
.about-description{
    font-size: 1.3rem;
    font-weight: 500;
}
.about-bold{
    font-weight: 800;
}
/* PARTNER SECTION */
.partner-container{
    display: flex;
}
.partner-image{
    flex: 1;
}
.partner-image img{
    width: 100%;
    object-fit: contain;
}
.partner-info{
    flex: 2;
    padding-left: 1rem;
}
/*teams*/
#join-team .container{
    height: 100vh;
}
.join-team-container{
    display: flex;
}
.join-team-info{
    flex: 2;
    padding-right: 1rem;
}
.join-team-img{
    flex: 1;
}
.join-team-img img{
    width: 100%;
    object-fit: cover;
}
.join-team-container .register{
    width: 50%;
    display: grid;
    position: relative;
    place-items: center;
}
.join-team-container .register img{
    width: 13rem;
}
.join-team-container .register::before{
    content: 'Register here';
    position: absolute;
    color: white;
    z-index: 2;
    font-size: 1.5rem;
    height: 50%;
    bottom: 0;
}
.join-team-info button{
    background: none;
    width: 13rem;
    border: none;
    position: relative;
    cursor: pointer;
}
.join-team-info button img{
    width: 100%;
}
.join-team-info button p{
    position: absolute;
    top: 3px;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-weight: bold;
    z-index: 2;
}
/*partners page*/
.partners-heading{
    width: max-content;
    margin: 0 auto;
}
.partners-info{
    display: flex;
    width: 100%;    
}
.partners-info div {
    width: 50%;
}
.partners-info img{
    border-radius: 1rem;
}
.partners-description{
    padding-left: 2rem;
}
.partner-info button{
    background: none;
    width: 13rem;
    border: none;
    position: relative;
    cursor: pointer;
}
.partner-info button img{
    width: 100%;
}
.partner-info button p{
    position: absolute;
    top: 3px;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-weight: bold;
    z-index: 2;
}
/*register section*/
.register-text{
    font-size: 1.5rem;
    line-height: 2rem;
}
.register-bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.register-bottom form {
    flex: 6;
}
.form-group{
    display: flex;
    justify-content: space-between;
}
.form-group label{
    font-size: 1.5rem;
    padding: .6rem 0;
}
.register-bottom input{
    background-color: #e7e9ec;
    border-radius: 1.6rem;
    border: none;
    margin: 0.3rem 0;
    font-size: 1.2rem;
    max-height: 2.4rem;
}
.register-partner-image {
    flex: 4;
}
.register-partner-image img{
    width: 100%;
    object-fit: contain;
    max-height: 100%;
}
/*footer*/
footer{
    background-color: black;
    color: white;
    padding: 1rem 2rem;
}
footer .top{
    display: flex;
}
footer h3{
    margin-bottom: 1rem;
}
.footer-bold{
    font-weight: 600;
}
.footer-text{
    display: flex;
    justify-content: space-evenly;
    flex: 9;
}
.footer-text div{
    padding: 0 2rem;
}
.footer-text a, .footer-text p{
    font-size: 0.9rem;
    line-height: 1.3rem;
}
.footer-about{
    flex: 6;
}
.footer-links{
    flex: 3;
    display: flex;
    flex-direction: column;
}
.footer-links a{
    margin: .2rem 0;
}
.footer-logo{
    flex: 3;
}
.footer-logo img{
    max-width: 100%;
    object-fit: contain;
}
.footer-socials{
    margin-top: 1rem;
    font-size: 1.3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.copyright{
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    font-weight: 600;
}
.copy{
    border-right: 2px solid white;
    padding-right: 1rem;
    margin-right: 1rem;
}
/*POPUP*/
.popup-bg{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.popup-active{
    visibility: visible;
    opacity: 1;
}
.popup{
    background-color: black;
    border-radius: 1.5rem;
    padding: 2rem;
}
.popup-top{
    color: white;
    display: flex;
}
.popup-logo{
    flex: 4;
}
.popup-logo img{
    width: 100%;
    object-fit: contain;
}
.popup-text{
    flex: 7;
    font-size: 1.4rem;
    padding-left: 1.5rem;
}
.popup-bottom{
    margin-top: 2rem;
    width: 100%;
}
.popup-bottom form{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.popup-bottom input{
    border-radius: .7rem;
    width: 70%;
    padding: .6rem .4rem;
}
.popup-bottom button{
    border-radius: .7rem;
    width: 15%;
    font-size: 1.2rem;
    font-weight: 500;
    background: #30b8f4;
    padding: .3rem .4rem;
}
@media screen and (max-width: 720px) {
    html{
        font-size: 80%;
    }
    .container{
        width: 90%;
    }
    
}