* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: aliceblue;
}
section {
    scroll-snap-align: start;
    height: 100vh;
}
.scroll-snap-container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

nav{
    color: aliceblue;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.nav-links{
    display: flex;
}
.container{
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.cards-container{
    display: flex;
    justify-content: space-evenly;
}
.align-center-vertical{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.product-intro{
    width: 100%;
    display: flex;
    top: 50%;
}
.product-logo{
    flex: 5;
}
.product-about{
    flex: 7;
}
.partner-container{
    display: flex;
}
.join-team-container{
    display: flex;
}

footer{
    background-color: black;
    color: white;
    display: flex;
}
.footer-text{
    display: flex;
    justify-content: space-evenly;
    flex: 8;
}
.footer-logo{
    flex: 4;
}